#text-box {
    display:none;
    position:absolute;
    top:0px;
/*    margin-left:50px;
    width:300px;	
    height:200px;*/
    background-color:#D1D1D1;
    text-align:center;
    padding:10px;
    margin:0px;
    border-radius:5px;
}

#text-box a {
    color:#00F !important;
}
#quit {
    float:left;
}
#submit {
    float:right;
}
#text-input {
    padding:5px;
}

#justify_connect, #delete_connect, #add_text {
    display:none;
}
._cm_canvas {
    border:1px solid black;
    position:relative;
    cursor:pointer;
}

#containter {
    position:relative;
}

._cm_controls {
    width:572px;
    border:1px solid #000;
    cursor:pointer;
    /*float:right;
    margin-right:18px;*/
}

.concept_map_div_class {
    position:relative;
}

._cm_controls .list td {
    text-align:center;
    border:none;
}

._cm_canvas_pause {
    min-width:35px;
    max-width:35px;
    width:35px;
    background:#CCC;
    background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 50%, rgb( 255,255,255 ) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 50%,rgb( 255,255,255 ) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 50%,rgb( 255,255,255 ) 100%);
}

._cm_canvas_pause:hover {
    background:#CCC;
    background-image: linear-gradient(bottom, rgb(204,204,204) 0%, rgb(255,255,255) 50%, rgb( 204,204,204 ) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(255,255,255) 50%, rgb( 204,204,204 ) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 0%, rgb(255,255,255) 50%, rgb( 204,204,204 ) 100%);
}
